.habilidades{
    background-color: white;
    padding: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjetas{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 80%;
    height: 180px;
    padding: 30px;
    margin: 30px 30px 0px 30px;
    box-shadow: 2px 2px 5px #999;
}
.tarjetas:hover{
    box-shadow: 10px 10px 10px #999;
} 
.tarjetasHSE:hover{
    box-shadow: 10px 10px 10px #999;
}
.contenedorLista{
    margin: 0px;
}
.botonHabilidades{
    margin-top: 250px;
}
.tarjetasHSE{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 95%;
    height: 210px;
    padding: 20px;
    margin: 30px;
    box-shadow: 2px 2px 5px #999;
}
