.proyectos {
    background-color: #794092;
    padding: 50px 100px 100px 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.boton {
    margin: 200px 0 0 0;
}

.titulo {
    margin: 0 0 50px 500px;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.tarjetaFormato{
    background-color: rgbA(121, 64, 146, 0.7); 
}

@media screen and (max-width: 400px) {
.proyectos{
    margin: 0px;
    padding: 20px;
}
    .boton {
    margin: 10px;
    align-content: center;
}
    .titulo {
    margin: 10px 10px 10px 90px;
        font-size: 50px;
}
}
