.proyectos {
    background-color: #794092;
    padding: 50px 100px 100px 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.boton {
    position: fixed;
    margin-top: 100px;
}

.titulo {
    margin: 0 0 50px 500px;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.tarjetaFormato{
    background-color: rgbA(121, 64, 146, 0.7); 
}
