.sobreMi{
    background-color: #00ADB1;
    padding: 50px 100px 100px 100px;
    width: 100%;
    height: 660px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.texto{
    font-size: 20px;
}
.fotoSobreMi{
    border-radius: 3%;
    margin-top: 25px;
}